{% extends "layout.html" %}

{% block title %}
history
{% endblock %}

{% block main %}
<table class="table table-bordered table-striped">
    <thead class="thead-dark">
         <tr>
            <th scope="col" class="fw-bold">Symbol</th>
            <th scope="col" class="fw-bold">Shares</th>
            <th scope="col" class="fw-bold">Price</th>
            <th scope="col" class="fw-bold">Type</th>
            <th scope="col" class="fw-bold">Date</th>
        </tr>
    </thead>
    <tbody>
         {% for x in History %}
        <tr>
            <td>{{ x.symbol }}</td>
            <td>{{ x.shares }}</td>
            <td>{{ x.price }}</td>
            <td>{{ x.type }}</td>
            <td>{{ x.timestamp }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
