{% extends "layout.html" %}

{% block title %}
history
{% endblock %}

{% block main %}
<table class="table table-bordered table-striped">
    <thead class="thead-dark">
         <tr>
            <th scope="col" class="fw-bold">symbol</th>
            <th scope="col" class="fw-bold">shares</th>
            <th scope="col" class="fw-bold">price</th>
            <th scope="col" class="fw-bold">type</th>
            <th scope="col" class="fw-bold">date</th>
        </tr>
    </thead>
    <tbody>
         {% for x in History %}
        <tr>
            <td>{{ x.symbol }}</td>
            <td>{{ x.shares }}</td>
            <td>{{ usd(x.price) }}</td>
            <td>{{ x.type }}</td>
            <td>{{ x.timestamp }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
