{% extends "layout.html" %}

{% block title %}
Finance
{% endblock %}

{% block main %}
<table class="table table-bordered table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col" class="fw-bold">Symbol</th>
            <th scope="col" class="fw-bold">Shares</th>
            <th scope="col" class="fw-bold">Current Price</th>
            <th scope="col" class="fw-bold">Total Value</th>
        </tr>
    </thead>
    <tbody>
        {% for stock in stocks %}
        <tr>
            <td>{{ stock.symbol }}</td>
            <td>{{ stock.shares }}</td>
            <td>{{ usd(stock.current_price) }}</td>
            <td>{{ usd(stock.total_value) }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td class="fw-bold">Total Shares Value</td>
            <td>-</td>
            <td>-</td>
            <td>{{ usd(total_shares_value) }}</td>
        </tr>
        <tr>
            <td class="fw-bold">Current Balance</td>
            <td colspan="3">{{ usd(balance) }}</td>
        </tr>
        <tr>
            <td class="fw-bold">Net Worth</td>
            <td colspan="3">{{ usd(net_worth) }}</td>
        </tr>
    </tbody>
</table>
{% endblock %}
